In [25]:
import pandas as pd
data = pd.read_excel('shpb.xlsx', index_col=0)

In [26]:
data

      Time  Voltage_0  Voltage_1
SN
0        0  -0.004883  -0.004883
1        1   0.004883   0.000000
2        2   0.000000   0.000000
3        3   0.019531   0.009766
4        4   0.004883   0.000000
...    ...        ...        ...
1504  1504   0.009766   0.000000
1505  1505   0.034180   0.004883
1506  1506   0.068359   0.019531
1507  1507   0.043945   0.004883
1508  1508   0.039062   0.014648

[1509 rows x 3 columns]

In [27]:
ndata = data[["Time","Voltage_0", "Voltage_1"]].copy()

In [28]:
print (ndata)

      Time  Voltage_0  Voltage_1
SN
0        0  -0.004883  -0.004883
1        1   0.004883   0.000000
2        2   0.000000   0.000000
3        3   0.019531   0.009766
4        4   0.004883   0.000000
...    ...        ...        ...
1504  1504   0.009766   0.000000
1505  1505   0.034180   0.004883
1506  1506   0.068359   0.019531
1507  1507   0.043945   0.004883
1508  1508   0.039062   0.014648

[1509 rows x 3 columns]

In [31]:
f = 9.48 * 10**(-4)
# calculated voltage = c
c = 0.75;
# Incident strain = ei
# Transmission strain = et
#ei = 100 * (vi * f)/(2 * c);
#et = 100 * (vt * f)/(2 * c);
ndata['ei'] = ndata.apply(lambda row: 100 * (row['Voltage_0'] * f)/(2 * c), axis=1)
ndata['et'] = ndata.apply(lambda row: 100 * (row['Voltage_1'] * f)/(2 * c), axis=1)

In [32]:
ndata

      Time  Voltage_0  Voltage_1        ei        et
SN
0        0  -0.004883  -0.004883 -0.000309 -0.000309
1        1   0.004883   0.000000  0.000309  0.000000
2        2   0.000000   0.000000  0.000000  0.000000
3        3   0.019531   0.009766  0.001234  0.000617
4        4   0.004883   0.000000  0.000309  0.000000
...    ...        ...        ...       ...       ...
1504  1504   0.009766   0.000000  0.000617  0.000000
1505  1505   0.034180   0.004883  0.002160  0.000309
1506  1506   0.068359   0.019531  0.004320  0.001234
1507  1507   0.043945   0.004883  0.002777  0.000309
1508  1508   0.039062   0.014648  0.002469  0.000926

[1509 rows x 5 columns]

In [ ]:
ndata.iloc[0]

Voltage_0   -0.004883
Voltage_1   -0.004883
Name: 0, dtype: float64

In [15]:
data.iloc[0]['Time.1']

0

In [12]:
data

,Voltage_0,Voltage_1,Voltage_2,Voltage_3,Time.1,Voltage_0.1,Voltage_1.1,Striker,Incident bar dia,Incident bar Length,transmitted bar length,Excitation,Calibration,Befor test dia,After test dia,Befor test Thick,After test thick,Pressure,Puls shaper
Time,,,,,,,,,,,,,,,,,,,
2009-01-01 00:25:53.848,-0.004883,-0.004883,0.004883,-0.007324,0,-0.004883,-0.004883,100mm,12.75 mm maraging,1525 mm,1350 mm,3v,0.75v,5.98mm,6.10mm,5.05 mm,4.90mm,10 kg/cm2,0.3/5mm Copper
2009-01-01 00:25:53.848,0.004883,0.000000,0.002441,-0.007324,1,0.004883,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01 00:25:53.848,0.000000,0.000000,0.002441,-0.007324,2,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01 00:25:53.848,0.019531,0.009766,0.002441,-0.007324,3,0.019531,0.009766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01 00:25:53.848,0.004883,0.000000,0.002441,-0.007324,4,0.004883,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009-01-01 00:25:53.858,0.039062,-0.009766,0.002441,-0.004883,9995,0.039062,-0.009766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01 00:25:53.858,0.024414,-0.004883,0.002441,-0.007324,9996,0.024414,-0.004883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01 00:25:53.858,-0.024414,-0.014648,0.002441,-0.007324,9997,-0.024414,-0.014648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01 00:25:53.858,-0.034180,-0.004883,0.002441,-0.004883,9998,-0.034180,-0.004883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009-01-01 00:25:53.858,-0.043945,0.004883,0.004883,-0.007324,9999,-0.043945,0.004883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN